.productItem {
    width: 300px;
    height: auto;
    /* background-color: rosybrown; */
    margin: 40px 14px 40px 0px;
}

.productItem img{
    width: 100%;

}

.productTitle {
    font-size: 18px;
}

.productPrice {
    flex: 6;
}

.productLiked {
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.productLiked i{
    color: sandybrown;
    padding-right: 6px;
}

.productItem img:hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 0px 0px 4px 4px #412c22ba;
}

@media (max-width: 858px){
    .productItem {
        font-size: 12px;
        margin: 5px 4px !important;
        width: 39vw!important;
    }
    .productContainer {
        width: 418vw;
        max-width: none;
        overflow: auto;
        overflow: scroll !important;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .productList {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .productTitle {
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        margin: 0;
    }
}