.bestProduct {
    /* height: 1073px; */
    width: 100%;
    background: url('./../../../public/images/bes-bg@3x.png');
    background-size: cover;
    padding-bottom: 1px;

}

.bestProductWrap {
    margin-bottom: 200px;
}

.bestProductTitle {
    text-align: center;
    color: #f96400;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 60px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 127px;
    font-weight: 700;
}

.bestProductContent {
    text-align: center;
    color: #f96400;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    max-width: 665px;
    margin: auto;
    margin-bottom: 70px;
    font-weight: 300;
}

.bestProductList {
    margin: auto;
    max-width: 1572px;
    width: 100%;
    display: flex;
}

.bestProductItem {
    flex: 4;
    position: relative;
}

.bestProductItem img{
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.bestProductIcon {
    position: absolute;
    height: 18% !important;
    width: 18% !important;
    z-index: 10 !important;
    margin-left: -100%;
    top: -8%;
}

.bestProductDes {
    position: absolute;
    height: 79px;
    width: 369px;
    border: solid 3px #222222;
    border-radius: 3px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -10px;
    background: white;
    display: flex;

}

.bestProductDescription {
    color: #222;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin-left: 27px;
    max-width: 230px;
    font-weight: 800;
    margin-top: 14px;
}

.bestProductButton {
    width: 65px;
    height: 65px;
    background: #222;
    color: white;
    font-weight: 800;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    transform: translateX(10px);
}

.bestProductButton:hover {
    transform: scale(1.1);
    background: #500e0e;
    transition: 0.4s;
    margin-right: 0px;
    margin-left: 32px;
}

@media (max-width: 858px){
    .bestProduct {
        
    }
    .bestProductWrap {
        margin-bottom: 0px;
    }
    .bestProductList {
        flex-direction: column;
        margin-top: 35px !important;
    }
    .bestProductItem {
        flex: 12;
        margin-bottom: 50px;
    }
    .bestProductContent {
        margin-bottom: 40px;
    }
    .bestProductDes  {
        width: 87%;
        height: 16%;
    }
    .bestProductNumber {
        font-size: 18px !important;
        top: -4% !important;
    }
    .bestProductDescription {
        font-size: 14px !important;
        line-height: 20px !important;
        margin-left: 14px !important;
        margin-top: 6px !important;
    }
    .bestProductButton {
        width: 50px;
        height: 50px;
        font-size: 18px;
        margin: 0;
        margin-top: 2px;
        transform: translateX(-5px);
    }

    .brandStoryDesBottom {
        flex-direction: column;
    }
    .brandStoryDesLeft, .brandStoryDesRight {
        flex: 12;
        margin-left: 10px;
        margin-right: 10px;
    }
    .brandStoryDesTop {
        margin-left: 10px;
        margin-right: 10px;
    }
    .object {
        display: none;
    }
    .brandStoryDesRightButton{
        margin-bottom: 35px;
    }
    .whpnIssue {
        height: 100% !important;
    }
    .issueBoxImages {
        width: 100%;
        height: 100% !important;  
    }
    .whpnIssueTitle {
        font-size: 20px !important;
        font-weight: 700;
        margin-top: 98px !important;
        /* margin-left: 17px; */
        max-width: 200px;
        line-height: 22px !important;
        margin-top: 98px;
        text-transform: uppercase;
        text-align: center;
    }

    .whatHappened2Video {
        display: block !important;
        width: 100% !important;
        margin-left: 50%;
        transform: translateX(-50%);
        z-index: 9;
    }
    .footerTop, .footerBottom {
        display: flex;
        flex-direction: column;
    }
    .footerTopLeft, .footerBottomLeft {
        flex: 12;
    }
    .footerTopRight .footerOption {
        width: 33% !important;
    }
    .footerTopRight, .footerBottomRight {
        flex: 12 !important;
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
    .footerTopRight .footerOption {
        margin-top: 20px !important;
    }
}

.bestProductIcon {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* .bestProductNumber {
    position: absolute;
    height: 18% !important;
    width: 18% !important;
    z-index: 10 !important;
    margin-left: -100%;
    top: -8%;
} */

.bestProductNumber {
    position: absolute;
    height: 18% !important;
    width: 18% !important;
    z-index: 10 !important;
    margin-left: -100%;
    top: -3%;
    font-size: 29px;
    font-weight: 700;
    transform: translate(30%, 4%);
    text-decoration: underline 2px;
    font-family: sans-serif;
    font-weight: 900;
}

@media (max-width: 1600px){
    .bestProductTitle {
        margin-top: 95px;
    }
    .bestProductList {
        max-width: 1325px;
    }
    .bestProductNumber {
        top: -4%;
        font-size: 27px;
        transform: translate(28%, 5%);
    }
}